simplicity/bt_soc_thunderboard_brd4166a/.pdm/** linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/.settings/** linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/.uceditor/** linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/autogen/** linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/config/** linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/gecko_sdk_4.3.1/** linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/.cproject linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/.cproject.orig linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/.project linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/bt_soc_thunderboard_brd4166a.pintool linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/bt_soc_thunderboard_brd4166a.slcp linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/bt_soc_thunderboard_brd4166a.slps linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/app.c.orig linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/imported_project_report.html linguist-vendored=true
simplicity/bt_soc_thunderboard_brd4166a/main.c linguist-vendored=true
